.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(22px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .grid-card-div {
  background-color:darkcyan;
} */

.navbar {
  display:flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(165,181,146);
}

.navbar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navbar li {
  float:left;
}

.navbar li a {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 30px;
  color: black;
}

.navbar a:hover {
  color: white;
  background-color: rgb(84, 98, 66);
}

.grid-list-btn {
  border: none;
  outline: none;
  padding: 12px 30px;
}

.grid-card-img {
  display:block;
  width:80%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

.grid-card-h3 {
  text-align: center;
}

.site-body {
  background-color: rgb(1, 56, 38);
  padding-top: 1.5%;
}

.filter-box {
  margin-left: 5%;
  width: 20%;
  background-color: rgb(165,181,146);
  padding: 0px;
  float: left;
}

.worm-grid {
  /* background-color: rgb(1, 56, 38); */
  margin-left:30%;
  width: 65%;
  background-color: rgb(165,181,146);
  color: black;
  font-size: large;
  padding: 0px;
  display:grid;
  grid-template-columns: repeat(4,minmax(200px,1fr));
  grid-gap: 10px;
}

.filter-container {
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
  display: block;
  background-color: rgb(136,157,111);
  outline-color: rgb(120,132,106);
  outline-style: solid;
  outline-width: 1px;
}

.filter-container h3 {
  padding: 10px;
  margin-bottom: 2px;
}

.filter-container label {
  display: inline-block;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 35%;
  padding-top: 0px;
  padding-bottom: 6px;
}

.filter-container input {
  float:right;
  width:50px;
  margin-right: 10%;
}

.filter-container p {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 13%;
  padding-top: 0px;
  padding-bottom: 6px;
}