*.env
*.DS_Store
*.xlsx
*.pyc
/images
/thumbnails
junk
/tools/test.csv
/tools/config.yaml
/server/node_modules
/server/server_config.yaml
credentials
/serverless
/test
/server 2
/MASTER_hint_images
**/MASTER_images