
.container {
    background-color: rgb(221, 203, 237);
    /* height: 1000px; */
    max-width: 600px;

    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    /* gap: px; */
    padding: 15px;
    /* margin: 10px; */
}