
.container {
    /* max-width: 600px; */
    padding: 0 0.5em 2em 0.5em;
    /* background-color: aqua; */
    width: auto;
}

/* .results {
    display: inline-block;
} */

/* .results {
    /* text-align: left; */
    
/* } */

.results {
    font-family: "Gill Sans", san-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 0.1em;  
    color: var(--line);
    width: 100%;

}

.results h4 {
    border-bottom: 1px solid var(--line);
}

.results h4 span {
    background-color: white;
    padding: 0px 10px;
}

.grid {

    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto; */
    grid-template-columns: repeat(6,1fr);
    /* grid-template: repeat(3, [row] minmax(120px, 1fr)) / repeat(4, [col] 1fr); */
    row-gap: 1.6em;
    column-gap: 1.6em;
    /* gap: px; */
    padding: 15px;
    /* margin: 10px; */
}