.demoPage {
    background-color: rgb(157, 157, 184);
}

.bookContainer {
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); */
}

.page {
    /* border: red solid 2px; */
    /* background-color: rgb(255, 0, 0, 0.5); */
    object-fit: contain;
    padding: 0;
    margin: 0;
}

/* img { */
/* object-fit: contain; */
/* border: blue solid 2px; */
/* padding: 0; */
/* margin: 0; */
/* } */

.controlContainer {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.button,
ul,
li {
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: "Inter";
    color: white;
    font-weight: bold;
}

.buttonText {
    padding: 0em 1em;
    /* line-height: 20px; */
}

.button {
    box-shadow: 0;
    font-size: 18px;
    background-color: #8d74a3;
    background-color: #0093af;
    text-align: center;
    cursor: pointer;
    /* padding: 0em; */
    border: 0;
    /* border-radius: 5px; */
    /* line-height: 18px; */
    /* padding: .1em 1em; */
    padding: 0;
    border-radius: 2em;
}

ul {
    width: 80%;
    /* max-width: 60%; */
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li {
    font-size: 16px;
    cursor: pointer;
    /* padding: 0em 0.5em; */
}

.centerShadow {
    position: absolute;
}

.footer {
    margin-top: 2rem;
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.footerLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
}

.footerLinkImg {
    height: 5rem;
    width: min-content;
}

.footerLink {
    font-family: "Inter";
    font-weight: bold;
    max-width: 6rem;
}

.footerLinkContainer:hover {
    cursor: pointer;
    background: #949494;
    color: #313131;
    font-weight: bold;
}