:root {
    --page-flip-time: 2s;
}

.innerAOpen, .innerAClosed, .innerBOpen, .innerBClosed, .outerClosed, .outerOpen {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.innerAOpen, .innerAClosed, .innerBOpen, .innerBClosed {
    position: absolute;
    width: 100%;
}

.innerAClosed {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    opacity: 0;
    transition: opacity 0s ease-in-out var(--page-flip-time);
}


.innerAOpen {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.innerBClosed {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    transform: scaleY(-1);
    transition: transform var(--page-flip-time) ease-in-out;
}

.innerBOpen {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    transform: scaleY(1);
    transform-origin: center;
    transition: transform var(--page-flip-time) ease-in-out;
}

.outerClosed {
    transform: scaleY(1);
    display: block;
    transition: transform var(--page-flip-time) ease-in-out, 
                opacity 0s ease-in-out calc(var(--page-flip-time)/2);
    opacity: 1;
}

.outerOpen {
    transform: scaleY(-1);
    display: block;
    transition: transform var(--page-flip-time) ease-in-out, 
                opacity 0s ease-in-out calc(var(--page-flip-time)/2);
    opacity: 0;
}