body {
    
    /* Blue center to black outside */
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(9,9,121,1) 0%, rgba(22,25,25,1) 100%);
    
    /* black inner blue outside */
    /* background: rgb(0,0,0); */
    /* background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(22,25,25,1) 0%, rgba(9,9,121,1) 100%);  */

    /* black inner grey outside */
    /* background: rgb(22,25,25); */
    /* background: radial-gradient(circle, rgba(22,25,25,1) 22%, rgba(0,0,0,1) 60%, rgba(74,74,77,1) 97%); */
    /* background: radial-gradient(circle, rgba(22,25,25,1) 22%, rgba(0,0,0,1) 78%, rgba(74,74,77,1) 98%); */

    display: flex;
    justify-content: center;
}