.page {
    /* border: red solid 2px; */
    /* background-color: rgb(255, 0, 0, 0.5); */
    object-fit: contain;
    padding: 0;
    margin: 0;
}

.rightShadow, .leftShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.rightShadow {
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.leftShadow {
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}